@font-face {
    font-family: "iconfont"; /* Project id 3859024 */
    src: url('//at.alicdn.com/t/c/font_3859024_ya81kh83zos.woff2?t=1673349596145') format('woff2'),
         url('//at.alicdn.com/t/c/font_3859024_ya81kh83zos.woff?t=1673349596145') format('woff'),
         url('//at.alicdn.com/t/c/font_3859024_ya81kh83zos.ttf?t=1673349596145') format('truetype');
  }
  
  .iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-shoucang:before {
    content: "\e666";
  }
  
  .icon-share:before {
    content: "\e636";
  }
  
  .icon-good:before {
    content: "\e62a";
  }
  
  .icon-comment-v2:before {
    content: "\e9b0";
  }
  
  .icon-31wode:before {
    content: "\e600";
  }
  
  .icon-sousuo:before {
    content: "\e752";
  }
  
  .icon-shipinbofang:before {
    content: "\e601";
  }
  
  .icon-shouye:before {
    content: "\e8b9";
  }
  